<% provide(:page_title, 'About') %>
<div class="well">
<h1>Novice to Ninja</h1>
<blockquote>
  <p>There aren't shortcuts.</p>
  <p>Merely direct paths.</p>
  <p>Most people don't take them, because they frighten us.</p>
  <p>Things that look like shortcuts are usually detours disguised as less work.</p>
  <p>-Seth Godin.</p>
</blockquote>
<div>
  <p>
    Becoming a ninja in a new skill isn't easy. Despite wanting to believe there are shortcuts and secrets to reaching ninja status, deep down you know the truth. Becoming a ninja is hard work. It takes focus and dedication. When starting out as a novice it takes persistence and many hours of hard work to reach your goals. Novice to Ninja helps you see the big picture and track your progress, however small.
  </p>
  <h4>:Focus</h4>
  <p>
    Focus is a critical part of becoming a ninja at something. You might have some wonderful mentors and resources to help you along the way, but in the end it comes down to you. It's easy to become daunted by all you have to learn and master. Staying focused on the small steps allows you to pay attention to the task at hand. So start small. Take it one activity at a time. Be present and enjoy the activity. Be grateful for every step you take.
  </p>
  <h4>:Share the love</h4>
  <p>
    Expert or ninja status is relative. So in Novice to Ninja we think about expertise on a scale of 1 to 10 ninja stars. 
    If you're <em>two</em> or <em>three</em> stars on the scale don't forget you're expert enough to help those who are <em>ones</em> or <em>twos</em>. In fact you might be better suited to helping beginners than a <em>ten</em> on the expert scale, because you're closer to their level and better understand where they're coming from.
  </p>
</div>
<blockquote>
  <p>
    Created by <a href="mailto:amandaneumann@me.com" style="color: #972647">Amanda Neumann</a>... Ruby on Rails Novice silently working her way up to Ninja level!
  </p>
</blockquote>
</div>
