<div class="center hero-unit">
  <h1>Novice to Ninja</h1>
  <h3>
    Track your progress on your way from novice to ninja in the skills you want to master!
  </h3>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("blue_eyes.jpg", alt: "Ninja"), 'http://whoiscoco.com/' %>


