<div class="center hero-unit" >

  <h1 style="width: 75%">Novice to Ninja</h1>
  <h3 style="width: 75%; font-weight: normal">
    Track your progress on your way from novice to ninja in the skills you want to master!
  </h3>
</br>
  <p style="width: 75%"><%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  </p>
</div>



