<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>A new user with the name <%= @user.name %> and email <%= @user.email %> just signed up to Novice to Ninja!</p>
  </body>
</html>