<% @user ||= current_user %>
<div class="stats">
  <a href="<%= user_activities_path(@user) %>">
    <strong id="activities" class="stat">
      <%= @user.activities.count %>
    </strong>
    activities
  </a>
  <a href="<%= user_following_path(@user) %>">
    <strong id="following" class="stat">
      <%= @user.followed_users.count %>
    </strong>
    following
  </a>
</div>