/* $btnPrimaryBackground: saturate(#7a9b89, 20%); */
$btnPrimaryBackground: saturate(#20B2AA, 20%);


@import "bootstrap";

/* mixins, variables, etc. */

/* light gray */
$grayMediumLight: #999999;
$grayBlind: #53777A;
/* dark brown/gray */
$eveningcloud: #2E2633;
$darkbrown: #2A0606;
/* turquoise */
$thoughtless: #53777A;
/* dark pink */
$palevioletred: #8b475d;
$heliotrope: #99173C;


@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* universal */

html {
	overflow-y: scroll;
}

body {
	padding-top: 60px;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;
	h1 {
	margin-bottom: 10px;
	}
}

.hero-unit {
  background-image: url(blue_eyes.jpg);
  color: white;
  font-weight: normal;
  height: 280px;
  background-size: cover;

}

.page-header {
  margin: 0;
  border: 0;
  h1, h2, h3, h4, h5, h6 {
    display: inline;
    margin-right: 10px;
    vertical-align: middle;

  }
  .btn {
    vertical-align: middle;
  }
}

/* users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

/* activities */

.goals {
  list-style: none;
  margin: 10px 0 0 0;
  td {
    font-size: 1.2em;
  }
}

.name {
  list-style: none;
  margin: 10px 0 0 0;
}

.title {
  list-style: none;
  margin: 10px 0 0 0;
  font-weight: normal;
  font-size: 1em;
  color: $palevioletred;
  /*color: ;*/
}

.activities {
  list-style: none;
  margin: 10px 0 0 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}

.description {
  display: block;
  list-style: none;
  font-size: 1em;
  color: $grayMediumLight;
}

.goal_tags {
  background-color: $grayLighter;
  display: inline-block;
  padding: 1px;
  margin: 10px 2px 2px 0;
}

.blue {
  a {
    font-color: $thoughtless !important;
  }
}

.timestamp {
  /*color: $grayLighter;*/
  color: $grayBlind;
  font-size: 0.8em;
  display: inline-block;

}

.activity-link {
  color: blue;
  font-size: 0.9em;
  display: block;
}


/* typography */


h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}

h1 {
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;
}

h2 {
	font-size: 1.2em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color: $grayLight;
}

h3 {
  color: $heliotrope;
}

h4 {
  color: $eveningcloud;
}

p {
	font-size: 1.1em;
	line-height: 1.7em;
  margin-bottom: 20px;
  color: gray;
}

/* header */

#logo {
	float: left;
	margin-right: 10px;
	font-size: 1.7em;
	color: white;
	text-transform: uppercase;
	letter-spacing: -1px;
	padding-top: 9px;
	font-weight: bold;
	line-height: 1;
	&:hover {
	  color: white;
	  text-decoration: none;
	}
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
  a {
    color: #555;
    &:hover {
    	color: white;
      text-decoration: none;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box-sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* sidebar */

aside {
	section {
		padding: 10px 0;
		border-top: 1px solid $grayLighter;
		&:first-child {
		  border: 0;
		  padding-top: 0;
		}
		span {
		  display: block;
		  margin-bottom: 3px;
		  line-height: 1;
		}
		h1 {
		  font-size: 1.4em;
		  text-align: left;
		  letter-spacing: -1px;
		  margin-bottom: 3px;
		  margin-top: 0px;
		}
    h2 {
      font-size: 1.2em;
      text-align: left;
      letter-spacing: -1px;
    }
	}
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

.stats{
  overflow: auto;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $grayLighter;
    color: gray;
    &:first-child{
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: $white;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars{
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    float: left;
    margin-right: 10px;
  }
}

.gravatar.size-50 {
  width: 50px;
  height: 50px;
}

@font-face {
  font-family: 'icomoon';
  src:url('icomoon.eot');
  src:url('icomoon.eot?#iefix') format('embedded-opentype'),
    url('icomoon.ttf') format('truetype'),
    url('icomoon.woff') format('woff'),
    url('icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class*="icomoon"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icomoon-ninja-star:before {
  content: "\e600";
  color: $grayMediumLight;
  font-size: 1.4em;
}

.icomoon-ninja-star-colored:before {
    color: $heliotrope;
    content: "\e600";
    font-size: 1.4em;
}


/*.btn-primary {
  background: #7a9b89;
  background-image: linear-gradient(to bottom, #7a9b89, darken(#7a9b89, 10%));

  &:hover {
    background-image: linear-gradient(to bottom, darken(#7a9b89, 10%), #7a9b89);
  }
}*/