<%= provide(:page_title, 'Edit Activity') %>
<div class="row">
  <div class="span6 offset3">
    <div class="page-header">
      <h4>Edit Activity</h4>
    </div>
    <section>
      <%= render 'form' %>
    </section>
  </div>
</div>